.listContainer {
    font-family: serif;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.listInfo {
    margin: 0 0 8px 0;
    color: #011e1f;
    font-style: italic;
    font-size: 0.9rem;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
