body {
  margin: 0;
  font-family: serif;
  background: #1a1a2e;
}

.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #022225;
  padding: 0;
}

.main {
  flex: 1;
  margin: 16px;
  padding: 20px;
  background: #4facc5;
  border-radius: 20px;
  overflow-y: auto;
}

.resetBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.resetBarGauche {
  display: flex;
  gap: 8px;
}

.basculeBtn {
  background: #9de5e3;
  color: #000000;
  border-radius: 8px;
  padding: 2px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.resetBtn {
  background: #9de5e3;
  color: #000000;
  border-radius: 20px;
  padding: 4px 10px;
  font-size: 0.85rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.resetBtn:hover {
  background: #28c697;
  transform: scale(1.05);
}

.basculeBtn:hover {
  background: #28c697;
  transform: scale(1.05);
}