.header {
    background-color: #13748a;
    color: #000000;
    min-height: 40px;
    display: flex;
    align-items: center;
}

.header img {
    width: 50px;
    cursor: pointer;
    animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}